<!DOCTYPE html>

<html class="">

    <head>

        <title>Blogpost - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>


        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item uk-active">
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                    </ul>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="">

            <div class="uk-section uk-section-xlarge uk-background-cover" data-srcset="https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?&auto=format&fit=crop&h=700" data-src="https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?&auto=format&fit=crop&h=700" uk-img>
          
                <div class="">

                    <h1 class="uk-heading-primary uk-text-bold uk-text-center">Blogpost Number One</h1>

                </div>

            </div>

            <div class="uk-container uk-container-small">

                <div class="uk-section-xsmall uk-padding-remove-tp">

                    <ul class="uk-subnav uk-subnav-divider uk-flex-center">

                        <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                        <li><a href="">admin</a></li>

                        <li><a href="" rel="category">Tag 1</a></li>

                    </ul>

                </div>

                <div class="uk-section">
                    
                    <p class="uk-text-lead">Lorem ipsum dolor sit amet, sed diam nonumy euismod tincidunt ut laoreet dolores magna aliquam erat volutpat.</p>

                    <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril <br>delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                    <h2 class="uk-h2">Section Heading</h2>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <img src="https://images.unsplash.com/photo-1508975174-c000113b5900?&auto=format&fit=crop&w=2500">

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-small uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-grid-divider uk-margin-medium uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class=">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-navbar-nav uk-display-block">

                        <li class="uk-navbar-item uk-active">
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                    </ul>

            </div>

        </div>

    </body>

</html>    