.uk-heading-primary, .uk-heading-hero{
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6, .uk-card h1, .uk-h1,.uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-card .button{
    font-family: 'Playfair Display', serif;
}

html, p{
    font-family: 'Playfair Display', serif;
}

.uk-navbar *{
    font-family: 'Montserrat' , sans-serif;
}

.uk-light {
    color: #fff;
}

.uk-card-light{
    border: solid 1px #fff;
}

.uk-button-default{
    color: #fff;
}

.uk-button-dark{
    background-color:#fff;
    color: #222;
}

.uk-button-default:hover{
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.uk-button-dark:hover{
    background-color: #ffffff;
    color:#222;
    border-color: #222;
 }   

.uk-button-text{
    color: #fff;
    border-color: #999;
}

.uk-button-text:hover{
    color: #fff;
}

.uk-button-text:before{
    border-color: #999;
}

.uk-heading-hero{
    font-weight: 400;
}

@media (min-width: 1200px){
.uk-heading-hero{
    font-size: 6.8rem;
}}

.tm-background-muted{
    background-color: #00000058 ;
}

.uk-heading-primary{
    color: #111;
}

.tm-section-title {
    /* `writing-mode` has to be on the parent element to fix the width in Safari */
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.tm-section-title > * {
    /* `writing-mode` has to be on the element which is rotated in IE 11 */
    -ms-writing-mode: tb-lr;
    /* Fix height in Edge and IE 11 */
    display: inline-block;
}

/* `writing-mode` has to be on the element which is rotated in Edge */
@supports (-ms-ime-align: auto) {

    .tm-section-title { writing-mode: inherit; }
    .tm-section-title > * { writing-mode: vertical-lr; }
}

/*
 * Dash
 */

.tm-section-title > ::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    height: 15px;
    width: 1px;
    background-color: currentColor;
}

/*
 * Utilit
 */

.tm-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tm-overlay{
    background-color: #000;
    opacity: .4;
}

.tm-dark{
    color:#000;
}

.tm-background-light{
    background-color:#fff;
}

.tm-position-left-out{    
    position: absolute;
    left: -10%;
    top: 20%;
    width: max-content;
}

.tm-slider-img{
    width: 1544px; 
    height: 1030px;
}

.uk-slider * .uk-button:hover{
    background-color: black;
    color:white;
}

.uk-logo.tm-dark:hover{
    color:#000;
}
