<!DOCTYPE html>

<html class="">

    <head>

        <title>Feature - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>


        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item uk-active">

                            <a href="#">Freature</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                    </ul>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-position-relative uk-section">
                
            <div class="uk-flex uk-flex-center uk-container">

                <div class="uk-child-width-1-2@m uk-margin-auto-vertical" uk-grid>

                    <div class="uk-flex uk-flex-middle">
                        
                        <img src="https://images.pexels.com/photos/54283/pexels-photo-54283.jpeg?&auto=format&fit=crop&w=1000&h=1100">

                    </div>

                    <div class="uk-flex uk-flex-middle uk-flex-first@m uk-width-expand@m">

                        <div>

                            <h1 class="uk-heading-hero uk-margin-medium">Feature Heading</h1>

                            <p class="uk-width-large@m">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <a class="uk-button uk-button-text uk-button-large uk-margin">Sign up now</a>
                    
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-muted uk-section-large">
            
            <div class="uk-container">
                
                <div class="uk-width-xlarge uk-margin-large">

                    <h2 class="uk-h6 uk-margin-remove">Lorem Ipsum Dolor</h2>
                    
                    <h3 class="uk-heading-primary uk-margin-remove">Section Heading</h3>

                </div>

                <div class="uk-grid-large uk-child-width-1-3@m uk-text-center uk-text-left@m" uk-grid>
                    
                    <div>
                        
                        <div class="uk-article">

                            <div class="uk-padding-large uk-padding-remove-left">
                                
                                <img class="uk-margin uk-border-circle" src="https://images.pexels.com/photos/532173/pexels-photo-532173.jpeg?&auto=format&fit=crop&h=400&w=400">

                            </div>

                            <div class="uk-width-medium@m">

                                <h4 class="uk-h3">Lorem Ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>

                            </div>

                        </div>

                    </div>

                    <div>
                        
                        <div class="uk-article">
                            
                            <div class="uk-padding-large uk-padding-remove-left">
                                
                                <img class="uk-margin uk-border-circle" src="https://images.pexels.com/photos/532173/pexels-photo-532173.jpeg?&auto=format&fit=crop&h=400&w=400">

                            </div>

                            <div class="uk-width-medium@m">

                                <h4 class="uk-h3">Lorem Ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>

                            </div>

                        </div>

                    </div>

                    <div>
                        
                        <div class="uk-article">
                            
                            <div class="uk-padding-large uk-padding-remove-left">
                                
                                <img class="uk-margin uk-border-circle" src="https://images.pexels.com/photos/532173/pexels-photo-532173.jpeg?&auto=format&fit=crop&h=400&w=400">

                            </div>

                            <div class="uk-width-medium@m">

                                <h4 class="uk-h3">Lorem Ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-large">
            
            <div class="uk-container uk-container-default">

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-grid" uk-grid>

                    <div class="uk-width-2-5@xl uk-text-left@xl">
                            
                        <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>

                            <h5 class="uk-heading-hero">1</h5>

                            <div class="uk-width-3-4">
                            
                                <h2 class="uk-h6 uk-margin-remove">Lorem Ipsum Dolor</h2>

                                <p class="uk-h1 uk-margin-remove">Freature Heading Number One</p>

                            </div>

                        </div>

                        <p class="uk-text-large uk-margin-medium-bottom">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed do labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>

                        <ul class="uk-list">

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Lorem ipsum dolor sit amet.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Consectetur adipisicing elit.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Sed do eiusmod tempor incididunt.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Labore et dolore magna aliqua. Ut enim ad minim veniam.</li>

                        </ul>

                    </div>

                    <div class="uk-width-expand@m">

                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?auto=compress&cs=tinysrgb&w=900">

                    </div>

                </div>

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-grid" uk-grid>

                    <div class="uk-width-2-5@xl uk-text-left@xl">

                        <div class="uk-inline uk-width-xxlarge uk-margin-medium-bottom">
                            
                            <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>

                                <h5 class="uk-heading-hero">2</h5>

                                <div class="uk-width-3-4">
                                
                                    <h2 class="uk-h6 uk-margin-remove">Lorem Ipsum Dolor</h2>

                                    <p class="uk-h1 uk-margin-remove">Second Feature Heading</p>

                                </div>

                            </div>

                            <p class="uk-text-large uk-margin-remove-bottom">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam - nonumy eirmod tempor invidunt.</p>
                        </div>

                        <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-2@xl uk-grid" uk-grid="">
                            <div class="uk-first-column">
                                <h3 class="uk-h4">Sub Heading Number One</h3>
                                <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                            </div>
                            <div class="">
                                <h3 class="uk-h4">Sub Heading Number Two</h3>
                                <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                            </div>
                            <div class="">
                                <h3 class="uk-h4">Sub Heading Number Three</h3>
                                <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                            </div>
                            <div class="">
                                <h3 class="uk-h4">Sub Heading Number Two</h3>
                                <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-flex-first@m uk-width-expand@m">

                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?auto=compress&cs=tinysrgb&w=900">

                    </div>

                </div>

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-grid" uk-grid>

                    <div class="uk-width-2-5@xl uk-text-left@xl">

                        <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>

                            <h5 class="uk-heading-hero">3</h5>

                            <div class="uk-width-3-4">
                            
                                <h2 class="uk-h6 uk-margin-remove">Lorem Ipsum Dolor</h2>

                                <p class="uk-h1 uk-margin-remove">Freature Heading Number Three</p>

                            </div>

                        </div>

                        <p class="uk-text-large uk-margin-medium-bottom">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed do labore et.
                        </p>

                        <ul class="uk-list">

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Lorem ipsum dolor sit amet.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Consectetur adipisicing elit.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Sed do eiusmod tempor incididunt.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Labore et dolore magna aliqua. Ut enim ad minim veniam.</li>

                            <li><span class="uk-margin-small-right uk-icon" uk-icon="check"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></span>Quis nostrud exercitation.</li>

                        </ul>

                    </div>

                    <div class="uk-width-expand@m">

                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?auto=compress&cs=tinysrgb&w=900">

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-muted">
            
            <div class="uk-container uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
                    
                <div class="uk-text-center">
                    
                        <h4 class="uk-h1">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br>aliquip ex ea commodo conse."</h4>

                        <p class="uk-h4 uk-text-primary">-Lorem Ipsum, Dolor sit Amet</p>

                </div>

            </div>

        </div> 

        <div class="uk-section uk-section-large">
            
            <div class="uk-container uk-container-medium">

                <div class="uk-grid-large uk-child-width-1-2@s" uk-grid>

                    <div class="">
    
                        <h4 class="uk-heading-primary uk-width-xlarge">Lorem ipsum dolor sit amet consetetur</h4>

                    </div>
            
                    <div class="uk-flex uk-flex-right uk-flex-bottom">

                        <div class="uk-width-large">

                            <div uk-grid="" class="uk-child-width-1-1 uk-grid uk-grid-stack">

                                <div class="uk-position-relative uk-first-column">
                                    <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
                                    </button>
                                    <input class="uk-input uk-form-large" type="email" name="email" placeholder="Email Address" required="">
                                </div>
                    
                            </div>

                        </div>

                    </div> 

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-small uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-grid-divider uk-margin-medium uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                    <div class="uk-text-right">

                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="uk-active">

                        <a href="#">Freature</a>

                    </li>

                    <li class="uk-parent">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    