<!DOCTYPE html>

<html class="">

    <head>

        <title>Sign In - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-navbar-item">

                            <a href="../help/help.html">Help</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../checkout/checkout.html">Checkout</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                        </li>


                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

            <div class="uk-section uk-section-large">

                <div class="uk-container uk-container-small uk-text-center">

                    <div class="uk-card uk-card-default uk-width-large uk-margin-auto uk-margin-large-bottom">

                        <div class="uk-card-header">

                            <h1 class="uk-heading-primary uk-margin-remove-bottom">Sign in</h1>

                            <p class="uk-h6 uk-margin-small-top">Lorem ipsum dolor sit amet, consetetur sadipscing.</p>

                        </div>

                        <div class="uk-card-body uk-text-left">

                            <div class="uk-margin">

                                <input class="uk-input uk-form-large" name="username" type="text" id="form-username" placeholder="Username">

                            </div>

                            <div class="uk-margin">

                                <input class="uk-input uk-form-large" name="password" type="text" id="form-password" placeholder="Password">

                            </div> 

                            <div class="uk-margin">

                                <a class="uk-text-primary" href="#">Forgot your Password?</a>
                            </div>


                            <div class="uk-text-center">

                                <a class="uk-button uk-button-primary uk-button-large uk-width-medium">Sign In</a>

                            </div>

                        </div>

                        <div class="uk-card-footer">
                            
                            <h2 class="uk-h3">Use your social accounts to sign in</h2>

                            <div class="uk-flex uk-flex-middle uk-flex-center uk-width-medium uk-margin-auto">

                                <div><a class="uk-button uk-button-default uk-button-large uk-margin-small-right" href="#"><span uk-icon="icon: facebook; ratio:"></span></a></div>

                                <div><a class="uk-button uk-button-default uk-button-large uk-margin-small-left" href="#"><span uk-icon="icon: google; ratio:"></span></a></div>

                            </div>

                        </div>

                    </div>

                    <div class="uk-margin-auto uk-width-large">

                            <p>Don't have an account yet?</p>

                        <div class="uk-text-center">

                                <a class="uk-button uk-button-secondary uk-button-large uk-width-medium">Sign Up Now</a>

                            </div>
                        
                    </div>
                
                </div>

            </div>
            

        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large uk-text-center uk-text-left@s">

                <div class="uk-child-width-1-3@s uk-child-width-2 uk-text-center" uk-grid>


                    <div class="uk-text-center@s">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>
                        
                    <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-left@s uk-flex-first@s">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    
                    <div class="uk-text-right@s">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                    <li class="">

                        <a href="../checkout/checkout.html">Checkout</a>

                    </li>

                    <li>
                        
                        <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    