<!DOCTYPE html>

<html class="">

    <head>

        <title>Blog - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>


        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item uk-active">

                            <a href="#">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="">

                            <a href="../contact/contact.html">Contact</a>

                        </li>

                        <li>
                            
                            <a href="../signin/signin.html"> Sign In</a>

                        </li>

                        <li class="">

                            <a href="../imprint/imprint.html">Imprint</a>
                            
                        </li>

                    </ul>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="">

            <div class="uk-section uk-section-xlarge uk-background-cover" data-srcset="https://images.unsplash.com/photo-1487446929682-f62f73984006?&auto=format&fit=crop&h=700" data-src="https://images.unsplash.com/photo-1487446929682-f62f73984006?&auto=format&fit=crop&h=700" uk-img>
          
                <div>

                    <h1 class="uk-heading-primary uk-text-lowercase uk-text-bold uk-text-center uk-light">Blog</h1>

                </div>

            </div>

            <div class="uk-container">

                <div class="uk-position-relative uk-grid-match-height" uk-grid>

                    <div class="uk-width-expand">

                        <div class="uk-section uk-section-large">
                            <div class="uk-child-width-1-2@s" uk-grid>
              
                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">Blog Post Number One</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">Second Blog Post</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">An Article</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">Just Another Blog Post</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">Fifth Article</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">Blog Post No. Six</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">And Another Article</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div> 

                                <div>

                                    <article class="uk-article">

                                        <div class="uk-margin-bottom">

                                            <img class="" src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=900">

                                        </div>

                                        <div>

                                            <h4 class="uk-h1">The Latest Article of This Blog</h4>

                                            <ul class="uk-margin-top uk-margin-remove-bottom uk-subnav uk-subnav-divider">

                                                <li><span><time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time></span></li>

                                                <li><a href="">admin</a></li>
                            
                                            </ul>

                                            <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>

                                        </div>

                                        <a class="uk-button uk-button-text" href="#">Read More</a>

                                    </article>

                                </div>

                            </div>

                        </div>

                        <div class="uk-section">
                            <ul class="uk-pagination uk-flex-center" uk-margin>
                                <li><a href="#"><span uk-pagination-previous></span></a></li>
                                <li class="uk-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="uk-disabled"><span>...</span></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#"><span uk-pagination-next></span></a></li>
                            </ul>
                        </div>


                    </div>
           

                    <div class="uk-section uk-section-large uk-width-1-4 uk-visible@l">

                        <div class="uk-padding-small">

                            <div class="uk-section uk-section-xsmall">

                                <h4 class="uk-h4 uk-text-primary uk-text-bold uk-margin-remove">Latest Posts</h4>

                                <p class="uk-margin-remove-top">Lorem ipsum dolor sit amet!</p>

                                <ul class="uk-list">

                                    <li>

                                        <div class="uk-grid-small" uk-grid>

                                            <div class="">

                                                <img src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&h=50&w=50" class="">
                                                
                                            </div>

                                            <div class="uk-width-expand uk-flex-middle uk-flex">

                                                <div class="">

                                                    <h5 class="uk-h5 uk-text-bold uk-margin-remove">Blog Post No. Six</h5>

                                                    <div class="uk-margin-remove">

                                                        <time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time>

                                                    </div>

                                                </div>

                                            </div>
                                        
                                        </div>

                                    </li>

                                    <li>

                                        <div class="uk-grid-small" uk-grid>

                                            <div class="">

                                                <img src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&h=50&w=50" class="">
                                                
                                            </div>

                                            <div class="uk-width-expand uk-flex-middle uk-flex">

                                                <div class="">

                                                    <h5 class="uk-h5 uk-text-bold uk-margin-remove">The Latest Article of This Blog</h5>

                                                    <div class="uk-margin-remove">

                                                        <time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time>

                                                    </div>

                                                </div>

                                            </div>
                                        
                                        </div>

                                    </li>

                                    <li>

                                        <div class="uk-grid-small" uk-grid>

                                            <div class="">

                                                <img src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&h=50&w=50" class="">
                                                
                                            </div>

                                            <div class="uk-width-expand uk-flex-middle uk-flex">

                                                <div class="">

                                                    <h5 class="uk-h5 uk-text-bold uk-margin-remove">And Another Article</h5>

                                                    <div class="uk-margin-remove">

                                                        <time datetime="2018-05-31T12:40:14+00:00">May 31, 2018</time>

                                                    </div>

                                                </div>

                                            </div>
                                        
                                        </div>

                                    </li>

                                </ul>

                                <div>
                                    <a class="uk-button uk-button-text" href="#">See More</a>
                                </div>
                                
                            </div>

                            <div class="uk-section uk-section-xsmall">

                                <h4 class="uk-h4 uk-text-primary uk-text-bold uk-margin-remove">Filter</h4>

                                <p class="uk-margin-remove-top">Lorem ipsum dolor sit amet.</p>

                                <div class="">

                                    <ul class="uk-subnav uk-subnav-pill uk-display-block">
                                
                                        <li class="uk-active" uk-filter-control="">
                                            <a href="">All</a>
                                        </li>

                                        <li uk-filter-control="">
                                            <a href="">Tag 1</a>
                                        </li>

                                        <li uk-filter-control="">
                                            <a href="">Tag 2</a>
                                        </li>

                                        <li uk-filter-control="">
                                            <a href="">Tag 3</a>
                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <div class="uk-section uk-section-xsmall">
                                
                                <h4 class="uk-h4 uk-text-primary uk-text-bold uk-margin-remove">Newsletter</h4>

                                <p class="uk-margin-remove-top">Lorem ipsum dolor sit amet!</p>

                                <div class="uk-position-relative">
                                        <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
                                        </button>
                                        <input class="uk-input uk-form" type="email" name="email" placeholder="Email Address" required="">
                                    </div>

                            </div>

                        </div>
                
                    </div>
                
                </div>

            </div>

        </div>

        <div class="uk-section uk-section-small uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-grid-divider uk-margin-medium uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent uk-active">

                        <a href="#">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../contact/contact.html">Contact</a>

                    </li>

                    <li>
                        
                        <a href="../signin/signin.html"> Sign In</a>

                    </li>

                    <li class="">

                        <a href="../imprint/imprint.html">Imprint</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    