<!DOCTYPE html>

<html class="">

    <head>

        <title>Checkout - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-navbar-item">

                            <a href="../help/help.html">Help</a>

                        </li>

                        <li class="uk-navbar-item uk-active">

                            <a href="../checkout/checkout.html">Checkout</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                        </li>


                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-section">

            <div class="uk-container">

                <h1 class="uk-heading-primary">Checkout</h1>

                <p class="uk-width-2-3 uk-text-lare">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <hr class="uk-divider-small uk-margin-large-top">
    
            </div>        

        </div>

        <div class="uk-section">
            
            <div class="uk-container">
                
                <div class="uk-grid-large" uk-grid>

                    <div class="uk-width-2-5@m">

                        <div class="uk-card uk-card-secondary">
                            
                            <div class="uk-card-header">
                                
                                <h3 class="uk-margin-top">Your Order</h3>

                                <hr class="uk-divider-small">

                            </div>

                            <div class="uk-card-body">
                                
                                <ul class="uk-list">
                                    
                                    <li>

                                        <div class="uk-flex uk-flex-wrap uk-margin-small">

                                            <div class="uk-flex-1">

                                                <span class="uk-text-middle">Lorem Ipsum Basic</span> 

                                                <a href="#" uk-icon="icon: close; ratio: 0.7" class="uk-icon-link uk-icon"></a> 

                                                <div class="uk-text-meta">Medium</div>

                                            </div> 

                                            <div class="uk-flex-none uk-text-nowrap">59,99€</div>

                                        </div>

                                    </li>

                                    <li>

                                        <div class="uk-flex uk-flex-wrap uk-margin-small">

                                            <div class="uk-flex-1">

                                                <span class="uk-text-middle">Green Consectetur</span> 

                                                <a href="#" uk-icon="icon: close; ratio: 0.7" class="uk-icon-link uk-icon"></a> 

                                                <div class="uk-text-meta">Medium</div>

                                            </div> 

                                            <div class="uk-flex-none uk-text-nowrap">34,99€</div>

                                        </div>

                                    </li>

                                    <li>

                                        <div class="uk-flex uk-flex-wrap uk-margin-small">

                                            <div class="uk-flex-1">

                                                <span class="uk-text-middle">Dolor Sit Amet</span> 

                                                <a href="#" uk-icon="icon: close; ratio: 0.7" class="uk-icon-link uk-icon"></a> 

                                                <div class="uk-text-meta">7 1/2</div>

                                            </div> 

                                            <div class="uk-flex-none uk-text-nowrap">89,99€</div>

                                        </div>

                                    </li>

                                </ul>

                                <div class="uk-divider-small uk-margin-medium-top"></div>

                                <div class="uk-flex uk-flex-wrap uk-margin-small uk-margin-medium-bottom">

                                    <div class="uk-flex-1">

                                        <span class="">Subtotal</span> 

                                    </div> 

                                    <div class="uk-flex-none uk-text-nowrap">189,97€</div>

                                </div>

                                <div class="uk-flex uk-flex-wrap uk-margin-small">

                                    <div class="uk-flex-1">

                                        <span class="">Gift Card</span> 

                                    </div> 

                                    <div class="uk-flex-none uk-text-nowrap">- 20,00€</div>

                                </div>

                                <div class="uk-flex uk-flex-wrap uk-margin-small">

                                    <div class="uk-flex-1">

                                        <span class="">Shipping</span> 

                                    </div> 

                                    <div class="uk-flex-none uk-text-nowrap">FREE</div>

                                </div>

                            </div>

                            <div class="uk-card-footer">

                                <div class="uk-divider-small"></div>

                                <div class="uk-flex uk-flex-wrap uk-margin-small uk-margin-bottom">

                                    <div class="uk-flex-1">

                                        <span class="uk-text-lead">Total</span> 

                                    </div> 

                                    <div class="uk-text-lead uk-flex-none uk-text-nowrap">169,97€</div>

                                </div>

                            </div>

                        </div>

                        <div class="uk-card uk-margin uk-card-secondary ">

                            <div class="uk-card-body">

                                <label class="uk-form-label" for="promo">Enter your Promo Code</label>
                                    
                                <div class="uk-position-relative uk-margin">
                                    <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                    </button>
                                    <input class="uk-input uk-form-large" type="email" id="promo" name="promo" placeholder="Promo Code" required="">
                                </div>

                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="uk-width-3-5@m uk-flex-first@m">

                        <div class="uk-margin-large-bottom">
                            
                            <h2 class="uk-padding uk-background-muted uk-margin-large">1. Shipping</h2>

                            <form class="uk-form-stacked">

                                <div class="uk-child-width-expand@s uk-margin-medium" uk-grid>

                                    <div>

                                        <label class="uk-form-label" for="first-name">First Name *</label>

                                        <input id="first-name" placeholder="Lorem" required="required" class="uk-input">

                                    </div>

                                    <div>

                                        <label class="uk-form-label" for="last-name">Last Name *</label>

                                        <input id="last-name" placeholder="Ipsum" required="required" class="uk-input">
                                    
                                    </div>

                                </div>

                                <div class="uk-margin-medium">

                                    <label class="uk-form-label" for="company">Company</label>

                                    <input id="company" placeholder="Company" required="required" class="uk-input">
                                    
                                </div>

                                <div class="uk-margin-medium">

                                    <label class="uk-form-label" for="email">E-Mail-Adress *</label>

                                    <input id="email" placeholder="name@example.com" required="required" class="uk-input">
                                    
                                </div>

                                <div class="uk-margin-medium" uk-grid>

                                    <div class="uk-width-2-3@s">

                                        <label class="uk-form-label" for="adress">Adress *</label>

                                        <input id="adress" placeholder="123 Streetname" required="required" class="uk-input">

                                    </div>

                                    <div class="uk-width-1-3@s">

                                        <label class="uk-form-label" for="postal-code">Postal Code *</label>

                                        <input id="postal-code" placeholder="12345" required="required" class="uk-input">
                                    
                                    </div>

                                </div>

                                <div class="uk-child-width-expand@s uk-margin-medium" uk-grid>

                                    <div>

                                        <label class="uk-form-label" for="city">City *</label>

                                        <input id="city" placeholder="Random City" required="required" class="uk-input">

                                    </div>

                                    <div>

                                        <label class="uk-form-label" for="country">Country *</label>

                                        <input id="country" placeholder="Country" required="required" class="uk-input">
                                    
                                    </div>

                                </div>

                                <div class="uk-margin">

                                    <label><input class="uk-checkbox" type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</label>

                                </div>

                                <div>

                                    <label><input class="uk-checkbox" type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</label>

                                </div>

                            </form>

                            <h2 class="uk-padding uk-background-muted uk-margin-large-top">2. Payment</h2>

                            <div class="">

                                <p class="uk-h3 uk-text-cnter">Select a Payment method</p>

                                <ul class="uk-text-center uk-subnav uk-flex-center uk-subnav-pill uk-margin-large" uk-switcher>

                                    <li><a href="#" class="">Creditcard</a></li>
                                    
                                    <li><a href="#" class="">Paypal</a></li>

                                </ul>

                                <ul class="uk-switcher uk-margin" uk-height-match="target: > li; row:false">

                                    <li>

                                        <form class="uk-form-stacked">
                                            
                                            <div class="uk-child-width-expand uk-margin-medium" uk-grid>

                                                <div class="uk-width-2-3@s">

                                                    <label class="uk-form-label" for="card-number">Card Number *</label>

                                                    <input id="card-number" class="uk-input" required="" placeholder="**** **** **** ***" aria-label="**** **** **** ***" data-msg="Please enter a valid card number." >
                                                    
                                                </div>

                                                <div class="uk-width-1-3@s">

                                                    <label class="uk-form-label" for="expiration">Expiration Date *</label>

                                                    <input id="expiration" placeholder="mm/yy" class="uk-input">

                                                </div>

                                            </div>

                                            <div class="uk-margin-medium" uk-grid>

                                                <div class="uk-width-2-3@s">

                                                    <label class="uk-form-label" for="card-name">Name on Card *</label>

                                                    <input id="card-name" class="uk-input" required="" placeholder="Lorem Ipsum" data-msg="Please enter a valid card number." >
                                                    
                                                </div>

                                                <div class="uk-width-1-3@s">

                                                    <label class="uk-form-label" for="cvc">CVC *</label>

                                                    <input id="cvc" placeholder="***" class="uk-input">
                                                
                                                </div>

                                            </div>

                                        </form>

                                    </li>

                                    <li class="uk-flex uk-flex-middle">
                                    
                                        <p class="uk-text-large">Continue with checkout to complete payment via Paypal.</p>

                                    </li>

                                </ul>

                                <div class="uk-margin-large-top">

                                    <label><input class="uk-checkbox" type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</label>

                                </div>

                                <div class="uk-margin">

                                    <label><input class="uk-checkbox" type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</label>

                                </div>

                                <a class="uk-margin-medium uk-button uk-button-primary uk-button-large" href="#">Place Order</a>

                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>

        </div>
        

        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large uk-text-center uk-text-left@s">

                <div class="uk-child-width-1-3@s uk-child-width-2 uk-text-center" uk-grid>


                    <div class="uk-text-center@s">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>
                        
                    <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-left@s uk-flex-first@s">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    <div class="uk-text-right@s">
                        <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                    <li class="uk-active">

                        <a href="../checkout/checkout.html">Checkout</a>

                    </li>

                    <li>
                        
                        <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    