<!DOCTYPE html>

<html class="">

    <head>

        <title>Gallery - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>


        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav">

                        <li class="uk-navbar-item uk-active">
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                        <li class="uk-navbar-item" >
                            <a href="#">Item</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <div class="uk-section uk-section-xlarge uk-section-muted">

            <div class="uk-container">
            
                <div class="uk-text-center">
                    
                    <h1 class="uk-heading-primary uk-text-lowercase uk-text-bold">Gallery</h1>

                </div>

            </div>    

        </div>

        <div class="uk-section uk-section-large">

            <div class="uk-container" uk-filter="target: .js-filter">

                <ul class="uk-subnav uk-subnav-pill uk-flex-center uk-margin-large-bottom">
                    
                    <li class="uk-active">
                        <a href="">Tag 1</a>
                    </li>

                    <li>
                        <a href="">Tag 2</a>
                    </li>

                    <li>
                        <a href="">Tag 3</a>
                    </li>

                    <li>
                        <a href="">Tag 4</a>
                    </li>

                </ul>

                <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid" uk-grid="">

                    <div>

                        <div class="uk-first-column uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">


                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  


                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-position-relative">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">
                                <a class="uk-badge uk-position-bottom-right uk-position-small">1</a>

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div> 

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div> 

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top">

                                <img src="https://images.unsplash.com/photo-1527232165582-78c982a1cad1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ee9f84272af2e5ebd2dbc9885ac279&auto=format&fit=crop&h=450" class="">

                            </div>

                            <div class="uk-card-body uk-text-left uk-padding-remove-horizontal">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            
                            </div>

                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>

        <div class="uk-section uk-section-large uk-background-cover" data-srcset="https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?h=600" data-src="https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?h=600" style="background-image:url(https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?h=600)" uk-img>
            
            <div class="uk-container uk-container-medium">

                <div class="uk-grid uk-child-width-1-2@s">

                    <div class="uk-width-large">
                        <h3 class="uk-h1 uk-text-bold">Lorem Ipsum</h3>
                        <p class="uk-text-lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                    </div>
            
                    <div class="">

                        <div uk-grid="" class="uk-child-width-1-1 uk-grid uk-grid-stack">

            
            
                            <div class="uk-position-relative uk-first-column">
                                <button class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
                                </button>
                                <input class="uk-input el-input" type="email" name="email" placeholder="Email Address" required="">
                            </div>
                
                        </div>

                    </div> 

                </div>

            </div>

        </div>

        <div class="uk-section uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@s uk-grid-divider uk-margin-large" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>



    </body>

</html>    