<!DOCTYPE html>

<html class="">

    <head>

        <title>Gallery - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item uk-active">

                            <a href="#">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Freature</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="#">Blog</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li>
                            
                            <a href="../signin/signin.html"> Sign In</a>

                        </li>

                        <li class="">

                            <a href="../imprint/imprint.html">Imprint</a>
                            
                        </li>

                    </ul>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-section uk-section-xlarge uk-section-muted">

            <div class="uk-container">
            
                <div class="uk-text-center">
                    
                    <h1 class="uk-heading-primary uk-text-lowercase uk-text-bold">Gallery</h1>

                </div>

            </div>    

        </div>

        <div class="uk-section uk-section-large">

            <div class="uk-container" uk-filter="target: .js-filter">

                <ul class="uk-subnav uk-subnav-pill uk-flex-center uk-margin-large-bottom">
                    
                    <li class="uk-active" uk-filter-control="">
                        <a href="">All</a>
                    </li>

                    <li uk-filter-control=".tag-1" class="">
                        <a href="">Tag 1</a>
                    </li>

                    <li uk-filter-control=".tag-2" class="">
                        <a href="">Tag 2</a>
                    </li>

                    <li uk-filter-control=".tag-3" class="">
                        <a href="">Tag 3</a>
                    </li>

                </ul>

                <ul class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid js-filter" uk-grid="">

                    <li class="tag-3">

                        <div class="uk-first-column uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 3</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>

                    <li class="tag-1">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 1</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-3">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 3</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-2">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 2</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-3">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 3</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-2">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 2</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-2">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 2</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-1">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 1</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li> 

                    <li class="tag-3">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 3</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li> 

                    <li class="tag-1">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 1</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-2">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 2</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>  

                    <li class="tag-2">

                        <div class="uk-text-center uk-card" uk-toggle="cls: uk-card-default; mode: hover;">

                            <div class="uk-padding-small">

                                <div class="uk-card-media-top uk-position-relative">

                                    <img src="https://images.unsplash.com/photo-1496192173661-0361468cb14a?&auto=format&fit=crop&w=900"" class="">
                                    <a class="uk-badge uk-position-bottom-right uk-position-small uk-padding-small">Tag 2</a>

                                </div>

                                <div class="uk-card-body uk-text-left uk-padding-small uk-padding-remove-horizontal">

                                    <h5 class="uk-card-title">Lorem ipsum</h5>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                
                                </div>

                            </div>

                        </div>

                    </li>

                </div>
                
            </div>
            
        </div>

        <div class="uk-section uk-section-large uk-background-muted">
            
            <div class="uk-container uk-container-medium">

                <div class="uk-grid-large uk-child-width-1-2@s" uk-grid>

                    <div class="">
    
                        <h4 class="uk-heading-primary uk-width-xlarge">Lorem ipsum dolor sit amet consetetur</h4>

                    </div>
            
                    <div class="uk-flex uk-flex-right uk-flex-bottom">

                        <div class="uk-width-large">

                            <div uk-grid="" class="uk-child-width-1-1 uk-grid uk-grid-stack">

                                <div class="uk-position-relative uk-first-column">
                                    <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
                                    </button>
                                    <input class="uk-input uk-form-large" type="email" name="email" placeholder="Email Address" required="">
                                </div>
                    
                            </div>

                        </div>

                    </div> 

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-small uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-grid-divider uk-margin-medium uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                            <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                        </a>
                    </div>

                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">

                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                    
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="uk-active">

                        <a href="#">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Freature</a>

                    </li>

                    <li class="uk-parent">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="--/blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>

                    </li>

                    <li>
                        
                        <a href="../signin/signin.html"> Sign In</a>

                    </li>

                    <li class="">

                        <a href="../imprint/imprint.html">Imprint</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    