<!DOCTYPE html>

<html class="">

    <head>

        <title>Pricing - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item uk-active">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="uk-active">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-section-xlarge">

            <div class="uk-container uk-container-lage">

                <div class="uk-margin-xlarge">
                    
                    <h1 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Pricing</h1>

                    <h5 class="uk-heading-hero uk-margin-remove">Choose Your Package</h5>

                    <p class="uk-text-large uk-width-xlarge">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>

                </div>

                <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-grid-large" uk-grid>

                    <div>

                        <div class="uk-card uk-box-shadow-small">
                            
                            <div class="uk-card-header">
                            
                                <h3 class="uk-text-bold">Free</h2>

                            </div>

                            <div class="uk-card-body uk-padding-small-top">

                                <ul class="uk-list uk-text-center uk-text-left@m">

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Lorem ipsum dolor sit amet</li>

                                    <li class="uk-h4"><span class="uk-margin-small-right uk-icon" uk-icon="icon:close; ratio:1.5"></span>Consectetur adipisicing</li>

                                    <li class="uk-h4"><span class="uk-margin-small-right uk-icon" uk-icon="icon:close; ratio:1.5"></span>Sed do eiusmod tempor</li>

                                    <li class="uk-h4"><span class="uk-margin-small-right uk-icon" uk-icon="icon:close; ratio:1.5"></span>Quis nostrud exercitation</li>

                                </ul>

                            </div>

                            <div class="uk-card-footer uk-text-center">
                                
                                <div>

                                    <p class="uk-h2 uk-margin-remove-bottom"><span class="uk-heading-hero">0</span>$</p>
                                    <p class="uk-h5 uk-margin-remove-top">per Month</p> 
                                    
                                </div>

                                <a class="uk-button uk-button-primary uk-button-large uk-margin-large">Get Now</a>

                            </div>

                        </div>
                        
                    </div>
                    
                    <div>

                        <div class="uk-card uk-background-muted uk-box-shadow-small">

                            <div class="uk-card-header">
                            
                                <h3 class="uk-text-bold">Standard</h2>

                            </div>

                            <div class="uk-card-body uk-padding-small-top">

                                <ul class="uk-list uk-text-center uk-text-left@m">

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Lorem ipsum dolor sit amet</li>

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Consectetur adipisicing</li>

                                    <li class="uk-h4"><span class="uk-margin-small-right uk-icon" uk-icon="icon:close; ratio:1.5"></span>Sed do eiusmod tempor</li>

                                    <li class="uk-h4"><span class="uk-margin-small-right uk-icon" uk-icon="icon:close; ratio:1.5"></span>Quis nostrud exercitation</li>

                                </ul>

                            </div>

                            <div class="uk-card-footer uk-text-center">
                                
                                <div>

                                    <p class="uk-h2 uk-margin-remove-bottom"><span class="uk-heading-hero">6</span>$</p>
                                    <p class="uk-h5 uk-margin-remove-top">per Month</p> 
                                    
                                </div>

                                <a class="uk-button uk-button-primary uk-button-large uk-margin-large">Get Now</a>

                            </div>

                        </div>
                        
                    </div>

                    <div>

                        <div class="uk-card uk-background-muted uk-box-shadow-small">
                            
                            <div class="uk-card-header">
                            
                                <h3 class="uk-text-bold uk-text-primary">Advanced</h2>

                            </div>

                            <div class="uk-card-body uk-padding-small-top">

                                <ul class="uk-list uk-text-center uk-text-left@m">

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Lorem ipsum dolor sit amet</li>

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Consectetur adipisicing</li>

                                    <li class="uk-h4"><span class=" uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Sed do eiusmod tempor</li>

                                    <li class="uk-h4"><span class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:check; ratio:1.5"></span>Quis nostrud exercitation</li>

                                </ul>

                            </div>
                            
                            <div class="uk-card-footer uk-text-center">
                                
                                <div>

                                    <p class="uk-h2 uk-margin-remove-bottom"><span class="uk-heading-hero">10</span>$</p>
                                    <p class="uk-h5 uk-margin-remove-top">per Month</p> 
                                    
                                </div>

                                <a class="uk-button uk-button-primary uk-button-large uk-margin-large">Get Now</a>

                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>
            
        </div>    

        <div class="uk-section uk-section-large uk-section-muted">
            
            <div class="uk-container">

                <h2 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Our Clients</h2>

                <h5 class="uk-heading-primary uk-margin-remove">Companies That Trust Us</h5>

            </div>

            <div class=" uk-margin-large">
                
                <div class="uk-position-relative" uk-slider="sets: true">

                    <ul class="uk-slider-items uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-3 uk-grid-large uk-grid-match uk-text-center" uk-grid>
                        
                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-large">
            
            <div class="uk-container">

                <div class="uk-grid-large uk-child-width-1-2@s" uk-grid>

                    <div class="">

                        <h2 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Our Newsletter</h2>
    
                        <h5 class="uk-heading-primary uk-margin-remove uk-width-xlarge">Lorem ipsum dolor sit amet consetetur</h5>

                    </div>
            
                    <div class="uk-flex uk-flex-right uk-flex-bottom">

                        <div class="uk-width-large">

                            <div uk-grid="" class="uk-child-width-1-1 uk-grid uk-grid-stack">

                                <div class="uk-position-relative uk-first-column">
                                    <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
                                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
                                    </button>
                                    <input class="uk-input uk-form-large" type="email" name="email" placeholder="Email Address" required="">
                                </div>
                    
                            </div>

                        </div>

                    </div> 

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large">

                <div class="uk-child-width-1-3@m uk-text-center" uk-grid>

                        
                    <div class="uk-text-left uk-flex uk-flex-middle">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    <div class="r">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>

                    
                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent uk-active">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="uk-active">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    