<!DOCTYPE html>

<html class="">

    <head>

        <title>About - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item uk-active">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-navbar-item">

                            <a href="../help/help.html">Help</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../checkout/checkout.html">Checkout</a>

                        </li>

                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>


                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-section uk-section-xlarge uk-background-cover" data-srcset="https://images.unsplash.com/photo-1525615301846-b1e8aeafa1ea?&auto=format&;fit=crop&w=2100" data-src="https://images.unsplash.com/photo-1525615301846-b1e8aeafa1ea?&auto=format&;fit=crop&w=2100" uk-img="" uk-parallax="bgy: -100,0">
            </div>

        <div class="uk-section uk-section-large">
            
            <div class="uk-container uk-container-expand">

                <div class="uk-child-width-1-2@m uk-grid-large uk-flex uk-flex-middle" uk-grid>

                    <div class="">
                    
                        <h1 class="uk-heading-hero">About Us</h1>

                        <hr class="uk-width-small uk-margin-medium-bottom">

                        <div class="">

                            <div class="">

                                <p class="uk-h4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>

                            </div>

                        </div>

                    </div>    

                    <div class="uk-visible@m">
                        
                        <div class="uk-flex uk-flex-middle">
                        
                            <img class="uk-box-shadow-large"  src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=1000&h=1000" uk-img>

                        </div>

                    </div>

                </div>    

            </div>

        </div>

        <div class="uk-section uk-section-large uk-section-muted">
            
            <div class="uk-container uk-container-expand">
                
                <div class="uk-grid-large" uk-grid>

                    <div class="uk-width-expand uk-margin-large-top uk-margin-bottom">

                        <div class="uk-flex uk-flex-middle uk-flex-center">

                            <h2 class="uk-margin-remove-vertical uk-h1 uk-text-primary">Our Story</h2>
                        
                            <div class="uk-margin-left uk-margin-remove-vertical uk-divider-small"></div>

                        </div>

                    </div>

                    <div class="uk-width-2-3@xl uk-width-3-5@l uk-flex uk-flex-middle uk-flex-first@l">

                        <div>
                    
                            <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
                                
                                <p class="uk-text-large">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p> 
                                <p class="uk-text-large">Summo dolorum definitionem pro id. Noster tamquam suscipiantur sea at, liber exerci noster vix cu. <br>Mel cu ludus perpetua interpretaris, vero animal temporibus eam et, ipsum error mei no.</p>


                            </div>

                            <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
                                
                                <p class="uk-text-large">Summo dolorum definitionem pro id. Noster tamquam suscipiantur sea at, liber exerci noster vix cu. <br>Mel cu ludus perpetua interpretaris, vero animal temporibus eam et, ipsum error mei no.</p>
                                <p class="uk-text-large">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p> 

                            </div>

                            <div class="uk-section uk-section-primary uk-section-small uk-margin-large-top uk-box-shadow-large">

                                <div class="">

                                    <div class="uk-child-width-1-3 uk-text-center" uk-grid>

                                        <div>
                                            
                                            <h5 class="uk-heading-primary">262</h5>
                                            <p class="uk-text-uppercase uk-text-bold">Lorem Ipsum</p>

                                        </div>
                                        
                                        <div>
                                            
                                            <h5 class="uk-heading-primary">4.5M</h5>
                                            <p class="uk-text-uppercase uk-text-bold">Lorem Ipsum</p>

                                        </div>

                                        <div>
                                            
                                            <h5 class="uk-heading-primary">2012</h5>
                                            <p class="uk-text-uppercase uk-text-bold">Lorem Ipsum</p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-large uk-section-muted">
            
            <div class="uk-container uk-container-expand">
                
                <div class="uk-grid-large" uk-grid>

                    <div class="uk-width-expand uk-margin-large-top uk-flex-first@l uk-margin-bottom">

                        <div class="uk-flex uk-flex-middle uk-flex-center">
                        
                            <div class="uk-margin-right uk-margin-remove-vertical uk-divider-small"></div>

                            <h2 class="uk-margin-remove-vertical uk-h1 uk-text-primary">Our Team</h2>

                        </div>

                    </div>

                    <div class="uk-width-2-3@xl uk-width-3-5@l">

                        <div class="">
                           
                            <div class="uk-child-width-1-2 uk-grid-large" uk-grid>

                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Michael Jackson </h3> 
                                            <p>Founder & CEO</p>
                                        </div>

                                    </div>

                                </div>

                                <div>

                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Paul Schneider</h3> 
                                            <p>Accounting</p>
                                        </div>

                                    </div>
                                
                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Michael Jackson </h3> 
                                            <p>Founder & CEO</p>
                                        </div>

                                    </div>

                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Paul Schneider</h3> 
                                            <p>Accounting</p>
                                        </div>

                                    </div>

                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Michael Jackson </h3> 
                                            <p>Founder & CEO</p>
                                        </div>

                                    </div>

                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Paul Schneider</h3> 
                                            <p>Accounting</p>
                                        </div>

                                    </div>

                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Michael Jackson </h3> 
                                            <p>Founder & CEO</p>
                                        </div>

                                    </div>

                                </div>
                                
                                <div>
                                    
                                    <div class="uk-inline-clip uk-transition-toggle">
                                        
                                        <img class="uk-box-shadow" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?&auto=format&fit=crop&w=880">

                                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                            <h3>Paul Schneider</h3> 
                                            <p>Accounting</p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="uk-section uk-section-primary uk-section-small uk-margin-xlarge uk-box-shadow-large">

                                <div class=" uk-paddi">

                                    <div class="uk-text-center uk-grid-large" uk-grid>

                                        <div class="uk-width-expand">

                                            <h4 class="uk-h1">Become a Part of Our Team</h4>

                                        </div>

                                        <div class="uk-width-1-3">
                                            
                                            <button class="uk-button uk-button-default">
                                                
                                                <a href="" class="uk-icon" uk-icon="icon:arrow-right; ratio:1.5"></a>

                                            </button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-large">
            
            <div class="uk-container">

                <h2 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Our Clients</h2>

                <h5 class="uk-heading-primary uk-margin-remove">Companies That Trust Us</h5>

            </div>

            <div class="uk-container uk-margin-large">
                
                <div class="uk-position-relative" uk-slider="sets: true">

                    <ul class="uk-slider-items uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-3 uk-grid-large uk-grid-match uk-text-center" uk-grid>
                        
                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                        <li class="uk-text-center">

                            <a class="uk-text-primary uk-margin-small-right uk-icon" uk-icon="icon:happy; ratio:5"></a>

                        </li>

                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

            </div>

        </div>


        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large uk-text-center uk-text-left@s">

                <div class="uk-child-width-1-3@s uk-child-width-2 uk-text-center" uk-grid>


                    <div class="uk-text-center@s">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>
                        
                    <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-left@s uk-flex-first@s">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    
                    <div class="uk-text-right@s">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent uk-active">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                    <li class="">

                        <a href="../checkout/checkout.html">Checkout</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    