<!DOCTYPE html>

<html class="">

    <head>

        <title>Frontpage - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>


        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item uk-active">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../cover/cover.html">Cover</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-navbar-item">

                            <a href="../help/help.html">Help</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../checkout/checkout.html">Checkout</a>

                        </li>

                        <li class="uk-navbar-item">
                            
                            <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                        </li>


                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div>

            <div class="uk-section uk-section-primary uk-position-relative" uk-height-viewport="offset-top: 10%; offset-bottom: true">
                
                <div class="uk-flex-center uk-flex-middle uk-position-center uk-light">

                    <div class="uk-container-small">

                        <div class="uk-margin">

                            <h1 class="uk-heading-hero uk-text-center uk-margin-medium">
                                Heading Hero 
                            </h1>

                        </div>

                        <div class="">

                            <h3 class="uk-text-lead uk-text-center uk-margin-medium">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </h3>
                        
                        </div>

                        <div class="uk-flex-center uk-flex-middle uk-grid-medium" uk-grid>

                            <div class="uk-first-column">
                            
                                <a class="uk-button uk-button-default"> button</a>
                            
                            </div>

                            <div>
                            
                                <a class="uk-button uk-button-default"> button</a>                            
                            
                            </div>

                        </div>

                    </div>   

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-xlarge">
            
            <div class="uk-container uk-container-default">

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-text-center uk-grid" uk-grid>

                    <div class="uk-margin-auto-vertical uk-padding-left uk-padding-right uk-text-center">
                            
                        <h3 class="uk-h2">Number One</h3>

                        <p class="uk-margin-auto">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.    
                        </p>

                    </div>

                    <div class="uk-first-column">
                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1543829012-fd36bb643fce?auto=format&fit=crop&w=900&h=600">
                    </div>

                </div>

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-text-center uk-grid" uk-grid>

                    <div class="uk-margin-auto-vertical uk-padding-left uk-padding-right uk-text-center">
                            
                        <h3 class="uk-h2">Number Two</h3>

                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.    
                        </p>

                    </div>

                    <div class="uk-flex-first@m uk-first-column">
                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1543829012-fd36bb643fce?auto=format&fit=crop&w=900&h=600">
                    </div>

                </div>

                <div class="uk-grid-large uk-child-width-1-2@m uk-flex-middle uk-margin-xlarge uk-text-center uk-grid" uk-grid>

                    <div class="uk-margin-auto-vertical uk-padding-left uk-padding-right uk-text-center">
                            
                        <h3 class="uk-h2">Number Three</h3>

                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.    
                        </p>

                    </div>

                    <div class="uk-first-column">
                        <img class="uk-box-shadow-xlarge" src="https://images.unsplash.com/photo-1543829012-fd36bb643fce?auto=format&fit=crop&w=900&h=600">
                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-xlarge  uk-padding-remove-top">

            <div class="uk-text-center uk-container-small uk-container uk-margin-xlarge">

                <h2 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Our Main Featires</h2>
    
                        <h5 class="uk-heading-primary uk-margin-remove uk-width-xlarge">Lorem ipsum dolor sitamet </h5>

                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>

            </div>

            <div class="uk-container">
                
                <div class="uk-grid-large@m uk-grid-large uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=400&h=400" class="uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">One Heading</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=400&h=400" class="uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">Another Heading</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=400&h=400" class="uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">Third Heading</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=400&h=400" class="uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">Lorem ipsum</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&h=400&w=400" class=" uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">Heading Number Five</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>  

                    <div>

                        <div class="uk-text-center uk-card">

                            <div class="uk-card-media-top uk-padding-large">

                                <img src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&fit=crop&w=400&h=400" class="uk-border-circle">

                            </div>

                            <div class="uk-card-body">

                                <h4 class="uk-card-title">Last Heading</h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            
                            </div>

                        </div>

                    </div>  

                
                </div>

            </div>

        </div>

        <div class="uk-section uk-section-large uk-background-muted">
            
            <div class="uk-container uk-container-medium">

                <div class="uk-grid uk-child-width-1-2@m" uk-grid>

                    <div class="uk-first-column uk-width-xlarge">

                        <h2 class="uk-h5 uk-margin-remove uk-text-uppercase uk-text-primary">Our Product</h2>
    
                        <h5 class="uk-heading-primary uk-margin-remove uk-width-xlarge">Lorem ipsum dolor sit amet consetetur</h5>
                    </div>
            
                    <div class="uk-flex uk-flex-right@m uk-flex-bottom">
                    
                        <a class="uk-button uk-button-primary uk-button-large" href="../pricing/pricing.html">See Pricing</a>
                    
                    </div> 

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large uk-text-center uk-text-left@s">

                <div class="uk-child-width-1-3@s uk-child-width-2 uk-text-center" uk-grid>


                    <div class="uk-text-center@s">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>
                        
                    <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-left@s uk-flex-first@s">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    <div class="uk-text-right@s">
                        <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="uk-parent uk-active">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../cover/cover.html">Cover</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                    <li class="">

                        <a href="../checkout/checkout.html">Checkout</a>

                    </li>

                    <li>
                        
                        <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>        