<!DOCTYPE html>

<html class="">

    <head>

        <title>Contact - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Feature</a>

                        </li>

                        <li class="uk-navbar-item uk-active">
                            
                            <a href="../about/about.html">About</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../pricing/pricing.html">Pricing</a>

                                    </li>

                                    <li class="uk-active">

                                        <a href="../contact/contact.html">Contact</a>

                                    </li>

                                    <li class="">

                                        <a href="../imprint/imprint.html">Imprint</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-navbar-item">

                            <a href="../help/help.html">Help</a>

                        </li>

                    </ul>

                    <a class="uk-margin-left uk-button uk-button-primary" href="../signin/signin.html">Sign In</a>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-section uk-section-xlarge uk-background-cover" data-srcset="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&;fit=crop&h=700" data-src="https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?&auto=format&;fit=crop&h=700" uk-img="" uk-parallax="bgy: -100,0"></div>

        <div class="uk-section uk-section-large">
            
            <div class="uk-container">
                
                <h1 class="uk-heading-hero">Contact</h1>

                <hr class="uk-width-small uk-margin-medium-bottom">

                <div class="uk-width-1-2@m">

                    <p class="uk-h4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-medium">

            <div class="uk-container">
                
                <div class="uk-grid-large uk-child-width-1-3@m uk-grid-divider" uk-grid>
                
                    <div class="uk-text-center">
                        
                        <h2 class="">Visit Us!</h2>

                        <p class="uk-h3 uk-text-primary">Example Street 1234<br>56789 City</p>

                    </div>

                    <div class="uk-text-center">
                        
                        <h2 class="">Call Us!</h2>

                        <p class="uk-h3 uk-text-primary">+123 455 67 89</p>

                    </div>

                    <div class="uk-text-center">
                        
                        <h2 class="uk-h3">Send An E-Mail!</h2>

                        <p class="uk-h3 uk-text-primary">mail@example.com</p>

                    </div>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-xlarge">

            <div class="uk-container uk-text-center uk-margin-large-bottom">

                <h2 class="uk-heading-primary">Message Us Directly!</h2>

            </div>

            <div class="uk-container uk-width-1-2@l uk-width-3-4@s">

                <div class="">
                    
                    <form class="uk-form-stacked uk-width-xlrge uk-margin-large-top">

                        <div class="uk-child-width-1-2@s" uk-grid>

                            <div class="">

                                <label class="uk-form-label" for="form-name">Name <span class="uk-text-danger">*</span></label>

                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-large" id="form-name" name="name" type="text" placeholder="Your Name">
                                </div>

                            </div>

                            <div class="">

                                <label class="uk-form-label" for="form-email">E-Mail Adress <span class="uk-text-danger">*</span></label>

                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-large" id="form-email" name="email" type="text" placeholder="Your E-Mail Adress">
                                </div>

                            </div>

                        </div>

                        <div class="uk-margin">

                            <label class="uk-form-label" for="form-subject">Subject</label>

                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-large" id="form-subject" name="subject" type="text" placeholder="Your Subject">
                            </div>

                        </div>

                        <div class="uk-margin">

                            <label class="uk-form-label" for="form-s-textarea">Message <span class="uk-text-danger">*</span></label>

                            <textarea class="uk-textarea uk-form-large" id="form-message" rows="9" placeholder="Your Message"></textarea>

                        </div>

                        <a class="uk-button uk-button-large uk-button-primary">Send</a>

                    </form>

                </div>

            </div> 

        </div>

        <div class="uk-section uk-padding-remove">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.84406258669!2d10.007317116276004!3d53.542698480020746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18efa5201e37b%3A0x7cc145ef645d5862!2sOberhafen%2C+20457+Hamburg!5e0!3m2!1sde!2sde!4v1543839743652" width="2300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="uk-section uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-margin-medium-top uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-h4">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-divider-small uk-margin-large">

                <div class="uk-child-width-1-3@m uk-text-center" uk-grid>

                        
                    <div class="uk-text-left uk-flex uk-flex-middle">

                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
                        <a class="" href="#" uk-icon="icon:github"></a>

                    </div>

                    <div class="r">

                        <p>© 2018 Lorem Ipsum dolor sit Amet</p>
                        
                    </div>

                    
                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent uk-active">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="uk-active">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    