<!DOCTYPE html>

<html class="">

    <head>

        <title>Imprint - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

        <nav class="uk-navbar-container">

            <div class="uk-container uk-container-expand" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                    <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>

                </div>

                <div class="uk-navbar-right"> 

                    <ul class="uk-navbar-nav uk-visible@m">

                        <li class="uk-navbar-item">

                            <a href="../frontpage/frontpage.html">Frontpage</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../gallery/gallery.html">Gallery</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../feature/feature.html">Freature</a>

                        </li>

                        <li class="uk-navbar-item">

                            <a href="../blog/blog.html">Blog</a>

                            <div class="uk-navbar-dropdown">

                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li class="">

                                        <a href="../blogpost/blogpost.html">Blog Post</a>

                                    </li>

                                </ul>

                            </div>
                            
                        </li>

                        <li class="uk-active">

                            <a href="#">Imprint</a>

                        </li>

                    </ul>

                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">

                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

                    </a>

                </div>

            </div>

        </nav>

        <div class="uk-child-width-1-2@m" uk-grid>

            <div class="uk-section uk-background-cover" data-srcset="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=1300" data-src="https://images.unsplash.com/photo-1522827489705-0616731a52a8?&auto=format&fit=crop&w=1300" uk-height-viewport="offset-top: true; offset-bottom: 10%" uk-img>

            </div>
            
            <div class="uk-section uk-section-xlarge uk-flex uk-flex-middle uk-text-center uk-text-left@m">

                <div class="uk-container uk-container-small">

                    <h1 class="uk-heading-primary uk-text-bold">Imprint</h1>

                    <h2 class="uk-h3 uk-text-bold uk-margin-remove-bottom">The Name of This Company</h2>

                    <h4 class="uk-margin-small-top">+34-5678912 <br>Loremipsum Street 123 <br>45678 Dolor City, Country</h4>

                    <h4 class="">loremipsum@example.com <br>Lorem: Ipsum Dolor Sit Amet <br> ABCD: 45678 1234</h4>

                    <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</h4>

                </div>

            </div>

        </div>

        <div class="uk-section uk-section-small uk-section-secondary uk-light">
            
            <div class="uk-container">

                <div class="uk-child-width-expand@m uk-child-width-1-2@s uk-grid-divider uk-margin-medium uk-text-center uk-text-left@s uk-grid-small" uk-grid>

                    <div class="uk-first-column">

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>

                    <div>

                        <h5 class="uk-text-bold">Lorem ipsum dolor</h5>

                        <ul class="uk-list uk-list-small">

                            <li>Lorem ipsum</li>

                            <li>Dolor sitamet Conseteteur</li>

                            <li>Sadipscing</li>

                            <li>Elitrsed diam</li>

                        </ul>

                    </div>    

                </div>    

                <hr class="uk-margin">

                <div class="uk-child-width-expand" uk-grid>
                    
                    <div>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo</a>
                    </div>

                    <div class="uk-text-right">
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>
                        <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas></a>

                        
                    </div>

                </div>  

            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="#">
                        <canvas width="28" height="34" uk-svg="" src="../../images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"></canvas>Logo
                    </a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Freature</a>

                    </li>

                    <li class="uk-parent">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>

                    </li>

                    <li class="uk-active">

                        <a href="#">Imprint</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>    