<!DOCTYPE html>

<html class="">

    <head>

        <title>Coming Soon - UIkit Layouts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/theme.css" />
        <script src="../../assets/uikit/dist/js/uikit.min.js"></script>
        <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">

    </head>

    <body>

    	<div class="uk-section uk-background-cover uk-position-static" data-srcset="https://images.unsplash.com/photo-1529466620243-60a210cdf76c?&auto=format&fit=crop&w=2300&h=1800" data-src="https://images.unsplash.com/photo-1529466620243-60a210cdf76c?&auto=format&fit=crop&&w=2300&h=1800" uk-img uk-height-viewport>

    		<div class="uk-overlay-primary uk-position-cover">

		        <nav class="uk-navbar-container uk-navbar-transparent uk-light">

		            <div class="uk-container uk-container-expand uk-navbar-transparent" uk-navbar>

		                <div class="uk-navbar-right"> 

		                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon">

		                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>

		                    </a>

		                </div>

		            </div>

		        </nav>

		        <div class="uk-section">

			        <div class="uk-position-center uk-container uk-container-small">

			        	<div class="uk-text-center">

			        		<p class="uk-visible@s"><svg width="168" height="155" viewBox="0 0 168 155" xmlns="http://www.w3.org/2000/svg" style="color: rgb(255, 255, 255);" class=" uk-svg" data-svg="./images/uikit-logo-large.svg">
								  <path fill="#fff" d="M117.4 33.3L93.3 47.9l27.8 15.8v41.5L83.8 126l-36.7-20.8V73L23 60.7v58.9l59.9 35.2 62.1-35.2V49.2l-27.6-15.9zM106.2 27.5L82.9 14 58.6 29.1l23.6 13z"></path>
								</svg>
							</p>

			        		<h1 class="uk-margin-medium">Our Website is currently under constuction</h1>

			        		<div class="uk-divider-small uk-margin-medium-bottom"></div>

			        		<div class="uk-flex uk-flex-center uk-child-width-auto" uk-countdown="date: 2018-12-27T09:33:12+00:00">
							    <div class="">
							        <div class="uk-countdown-number uk-countdown-days"></div>
							        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
							    </div>
							    <div class="uk-countdown-separator uk-padding-small"></div>
							    <div class="">
							        <div class="uk-countdown-number uk-countdown-hours"></div>
							        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
							    </div>
							    <div class="uk-countdown-separator uk-padding-small"></div>
							    <div class="">
							        <div class="uk-countdown-number uk-countdown-minutes"></div>
							        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
							    </div>
							    <div class="uk-countdown-separator uk-padding-small"></div>
							    <div class="">
							        <div class="uk-countdown-number uk-countdown-seconds"></div>
							        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
							    </div>
							</div>

							<div class="uk-padding">

	                            <div uk-grid="" class="uk-child-width-1-1 uk-grid-small uk-grid-stack">

	                            	<p class="">Sign up for our Newsletter to get notified.</p>

	                                <div class="uk-position-relative">
	                                    <button class="uk-form-icon uk-form-icon-flip uk-button-primary uk-light uk-icon" uk-icon="icon: arrow-right" title="Subscribe">
	                                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg>
	                                    </button>
	                                    <input class="uk-input uk-form-large" type="email" name="email" placeholder="Email Address" required="">
	                                </div>
	                    
	                            </div>

	                        </div>

			        	</div>
			        	
			        </div>

			    </div>
            
        	</div>

        	<div class="uk-position-bottom uk-position-small uk-light">
            
	            <div class="uk-container">

	                <div class="uk-child-width-1-2 uk-text-left" uk-grid>
	                        
	                    <div class="uk-flex uk-flex-middle uk-flex-left">

	                        <a class="uk-margin-right" href="#" uk-icon="icon:twitter"></a>
	                        <a class="uk-margin-right" href="#" uk-icon="icon:facebook"></a>
	                        <a class="" href="#" uk-icon="icon:github"></a>

	                    </div>

	                    <div class="uk-text-right">
	                        <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
	                    </div>

	                </div>  

            	</div>

        	</div>

        </div>

        <div id="offcanvas" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
            
            <div class="uk-offcanvas-bar">
                
                <div class="uk-margin-bottom uk-text-center">
                    <a class="uk-logo" href="../frontpage/frontpage.html">Logo</a>
                </div>

                <ul class="uk-nav uk-nav-primary uk-nav-center">

                    <li class="">

                        <a href="../frontpage/frontpage.html">Frontpage</a>

                    </li>

                    <li class="">

                        <a href="../gallery/gallery.html">Gallery</a>

                    </li>

                    <li class="">

                        <a href="../feature/feature.html">Feature</a>

                    </li>

                    <li class="uk-parent">
                        
                        <a href="../about/about.html">About</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../pricing/pricing.html">Pricing</a>

                            </li>

                            <li class="">

                                <a href="../contact/contact.html">Contact</a>

                            </li>

                            <li class="uk-active">

                                <a href="../imprint/imprint.html">Imprint</a>

                            </li>

                        </ul>

                    </li>

                    <li class="">

                        <a href="../blog/blog.html">Blog</a>

                        <ul class="uk-nav-sub">

                            <li class="">

                                <a href="../blogpost/blogpost.html">Blog Post</a>

                            </li>

                        </ul>
                        
                    </li>

                    <li class="">

                        <a href="../help/help.html">Help</a>

                    </li>

                    <li class="">

                        <a href="../checkout/checkout.html">Checkout</a>

                    </li>

                    <li class="uk-active">
                        
                        <a href="../coming-soon/coming-soon.html">Coming Soon</a>

                    </li>

                </ul>

            </div>

        </div>

    </body>

</html>     